.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .5;
  background-color: #31363e;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  max-width: 610px;
  max-height: calc(100vh - 80px);
  transition: opacity .5s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  background-color: #fff;

  @include max(425) {
    width: calc(100% - 40px);
  }

  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.popup-sm {
  max-width: 416px;
  padding: 30px 35px;
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: -32px;
  right: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: $highlight;

  @include max(425) {
    right: 0;
  }

  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
  svg {
    fill: #31363e;
    width: 18px;
    height: 18px;
    transition: transform .5s;

    will-change: transform;
  }
}

.popup__body {
  overflow: auto;
}

.popup__slider {
  .prev,
  .next {
    position: absolute;
    z-index: 1;
    top: 135px;
    width: 16px;
    height: 30px;
    cursor: pointer;
    svg {
      fill: $highlight;
      width: 16px;
      height: 30px;
    }
  }
  .prev {
    left: 20px;
  }
  .next {
    right: 20px;
    left: auto;
  }
}

.popup__img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  img {
    display: block;
    width: 100%;
  }
}

.popup__text {
  padding: 20px 35px 30px 16px;
}

.popup__title {
  font-family: $font;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  position: relative;
  padding-left: 24px;
  color: #31363e;
  background-image: url('../img/popup-title-decor.png');
  background-repeat: no-repeat;
  background-position: 5px 0;
}

.popup__descr {
  padding-left: 24px;
  span {
    font-family: $font;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    margin-bottom: 15px;
    color: #4e525c;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//begin #FORM
.popup-form__title {
  margin-bottom: 15px;
}

.popup-form {
  .contacts-feedback__row {
    padding-top: 5px;
  }
  .contacts-feedback__agree {
    padding-right: 5px;
    span {
      padding-left: 25px;
      color: #4e525c;
    }
  }
}

//end #FORM

.popup__body-title {
  font-family: $font;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
  color: #31363e;
}

.popup-body__subtitle {
  font-family: $font;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 15px;
  color: #4e525c;
}

.popup-body__ok-wrap {
  display: flex;
  justify-content: flex-end;
}

.popup-body__ok {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 145px;
  height: 38px;
  background-image: url('../img/bg-btn.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  span {
    font-family: $font;
    font-size: 17px;
    font-weight: 500;
    line-height: 60px;
    padding-right: 15px;
    text-align: center;
    color: #31363e;
  }
}
