//begin banner
.banner-section
  .container
    .banner
      h3.banner__title
        | Произведем изделие
        br
        | по вашим размерам и чертежам
      span Подберем индивидуальное решение для каждого

      a(href="#").banner__btn Заказать изделие
//end banner