//begin index-articles
.index-articles
  .container
    h2.section-title Полезная информация

    //begin index-articles__list
    .index-articles__list
      
      .index-articles__article.index-article
        a(href="#").index-article__img
          img(src="assets/img/index-article.jpg" alt="picture")
        .index-article__info
          a(href="#").index-article__title Новое оборудование
          span.index-article__text Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и
          span.index-article__date 28.06.2019

      .index-articles__article.index-article
        a(href="#").index-article__img
          img(src="assets/img/index-article.jpg" alt="picture")
        .index-article__info
          a(href="#").index-article__title Новое оборудование
          span.index-article__text Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и
          span.index-article__date 28.06.2019

      .index-articles__article.index-article
        a(href="#").index-article__img
          img(src="assets/img/index-article.jpg" alt="picture")
        .index-article__info
          a(href="#").index-article__title Новое оборудование
          span.index-article__text Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и
          span.index-article__date 28.06.2019

      a(href="#").index-articles__article.index-article-more
        .index-article-more__svg
          +svg('index-article')
        .index-article-more__info
          .index-article-more__title Больше интересного в нашем блоге
          .index-article-more__link
            span Читать далее
            +svg('right-arrow')



    //end index-articles__list

//end index-articles