//begin index-about
.index-about
  //begin index-about__header
  .index-about__header.index-about-header
    .container
      .index-about-header__logo
        img(src="assets/img/logo-lg.png" alt="logo")
      .index-about-header__text
        span
          |ООО «Резина812 ПКФ» - производство и реализация
          br
          |резинотехнических изделий и полимеров хорошего качества.
  //end index-about__header
    
  //begin index-about__descr
  .index-about__descr
    .container
      .index-about__descr-left
        h3.index-about__descr-title Основная цель компании:
        span Оптимально и эффективно помогать заказчику, обеспечивая его необходимыми резинотехническими изделиями, полимерами и другими материалами.
        span Мы достигаем этого командой сотрудников, профессионализм которых позволяет компании «Резина812 ПКФ» быть лучшей для каждого заказчика.
      .index-about__descr-right
        img(src="assets/img/index-about-right.png" alt="picture")
  //end index-about__descr
//end index-about