//begin index-catalog
.index-catalog
  .container
    h2.section-title Каталог продукции

    //begin index-catalog__items
    .index-catalog__items
      //begin index-catalog__item
      .index-catalog__item
        .index-catalog__header
          +svg('catalog-01')
          a(href="#").index-catalog__title Неформовые изделия
        ul.index-catalog__list
          li.index-catalog__list-item
            a(href="#").index-catalog__link Лента конвейерная (транспортная)
          li.index-catalog__list-item
            a(href="#").index-catalog__link Технические плаcтины
          li.index-catalog__list-item
            a(href="#").index-catalog__link ТМКЩ
          li.index-catalog__list-item
            a(href="#").index-catalog__link МБС
          li.index-catalog__list-item
            a(href="#").index-catalog__link Техпластины нестандартных размеров
          li.index-catalog__list-item
            a(href="#").index-catalog__link Техпластина пищевая
          li.index-catalog__list-item
            a(href="#").index-catalog__link Техпластина вакуумная
          li.index-catalog__list-item
            a(href="#").index-catalog__link Техпластина пористая (губчатая)
          li.index-catalog__list-item
            a(href="#").index-catalog__link Силиконовые пластины
          li.index-catalog__list-item
            a(href="#").index-catalog__link Резиновые ковровые покрытия
          li.index-catalog__list-item
            a(href="#").index-catalog__link Резинотканевые техпластины
          li.index-catalog__list-item
            a(href="#").index-catalog__link Смеси резиновые сырые
      //end index-catalog__item

      //begin index-catalog__item
      .index-catalog__item
        .index-catalog__header
          +svg('catalog-02')
          a(href="#").index-catalog__title Формовые изделия
        ul.index-catalog__list
          li.index-catalog__list-item
            a(href="#").index-catalog__link Резиновые профили
          li.index-catalog__list-item
            a(href="#").index-catalog__link Уплотнители
          li.index-catalog__list-item
            a(href="#").index-catalog__link Шнупы
          li.index-catalog__list-item
            a(href="#").index-catalog__link Трубки
          li.index-catalog__list-item
            a(href="#").index-catalog__link Формовые техпластины
          li.index-catalog__list-item
            a(href="#").index-catalog__link АМС
          li.index-catalog__list-item
            a(href="#").index-catalog__link ТМКЩ
          li.index-catalog__list-item
            a(href="#").index-catalog__link МБС
          li.index-catalog__list-item
            a(href="#").index-catalog__link Вибродемпфирующая резина
          li.index-catalog__list-item
            a(href="#").index-catalog__link Диэлектрическая резина
          li.index-catalog__list-item
            a(href="#").index-catalog__link Пористая резина
          li.index-catalog__list-item
            a(href="#").index-catalog__link Ремни
      //end index-catalog__item

      //begin index-catalog__item
      .index-catalog__item
        .index-catalog__header
          +svg('catalog-03')
          a(href="#").index-catalog__title Сопутствующие товары
        ul.index-catalog__list
          li.index-catalog__list-item
            a(href="#").index-catalog__link Стеклотекстолит
          li.index-catalog__list-item
            a(href="#").index-catalog__link Кожа техническая
          li.index-catalog__list-item
            a(href="#").index-catalog__link Клей резиновый
          li.index-catalog__list-item
            a(href="#").index-catalog__link Тормозные ленты (лат и др.)
          li.index-catalog__list-item
            a(href="#").index-catalog__link Асбестотехнические изделия
          li.index-catalog__list-item
            a(href="#").index-catalog__link Набивки сальниковые
          li.index-catalog__list-item
            a(href="#").index-catalog__link Тенты и ткани прорезиненные
          li.index-catalog__list-item
            a(href="#").index-catalog__link Ткань ПВХ
          li.index-catalog__list-item
            a(href="#").index-catalog__link Резиновые ковровые покрытия
          li.index-catalog__list-item
            a(href="#").index-catalog__link Смеси резиновые
      //end index-catalog__item

    //end index-catalog__items

    //begin index-catalog__footer
    .index-catalog__footer
      a(href="#").index-catalog__footer-link
        span Смотреть весь каталог
        +svg('right-arrow')

    //end index-catalog__footer
//end index-catalog