//begin index-application
.index-application
  .container
    h2.section-title Сферы применения нашей продукции

    .index-application__slider-wrap
      //begin index-application__slider
      .index-application__slider
        .index-application__slide
          a(href="#").index-application__slide-link
            .index-application__slide-img(style='background-image:url("assets/img/index-slider-01.jpg")')
            h3.index-application__slide-title Строительная техника

        .index-application__slide
          a(href="#").index-application__slide-link
            .index-application__slide-img(style='background-image:url("assets/img/index-slider-02.jpg")')
            h3.index-application__slide-title Производство

        .index-application__slide
          a(href="#").index-application__slide-link
            .index-application__slide-img(style='background-image:url("assets/img/index-slider-03.jpg")')
            h3.index-application__slide-title Станки

        .index-application__slide
          a(href="#").index-application__slide-link
            .index-application__slide-img(style='background-image:url("assets/img/index-slider-01.jpg")')
            h3.index-application__slide-title Строительная техника

        .index-application__slide
          a(href="#").index-application__slide-link
            .index-application__slide-img(style='background-image:url("assets/img/index-slider-02.jpg")')
            h3.index-application__slide-title Производство

        .index-application__slide
          a(href="#").index-application__slide-link
            .index-application__slide-img(style='background-image:url("assets/img/index-slider-03.jpg")')
            h3.index-application__slide-title Станки
      //end index-application__slider


//end index-application