//begin index-top
.index-top
  //begin index-top__slider
  .index-top__slider.index-slider
    .index-slider__item
      .index-slider__item-bg.index-slider__item-bg--desktop(style='background-image:url("assets/img/bg-index-slider.jpg")')
      .index-slider__item-bg.index-slider__item-bg--mobile(style='background-image:url("assets/img/bg-index-slider-m.jpg")')
      .container
        .index-slider__item-text
          h2.index-slider__title Резинотехнические изделия любых форм и размеров
          h3.index-slider__subtitle В наличии и на заказ.
          h3.index-slider__subtitle Изготовим по вашим чертежам.
          a(href="#").index-slider__btn.btn Подробнее

    .index-slider__item
      .index-slider__item-bg.index-slider__item-bg--desktop(style='background-image:url("assets/img/bg-index-slider.jpg")')
      .index-slider__item-bg.index-slider__item-bg--mobile(style='background-image:url("assets/img/bg-index-slider-m.jpg")')
      .container
        .index-slider__item-text
          h2.index-slider__title Резинотехнические изделия любых форм
          h3.index-slider__subtitle В наличии и на заказ.
          h3.index-slider__subtitle Изготовим по вашим чертежам.
          a(href="#").index-slider__btn.btn Подробнее

    .index-slider__item
      .index-slider__item-bg.index-slider__item-bg--desktop(style='background-image:url("assets/img/bg-index-slider.jpg")')
      .index-slider__item-bg.index-slider__item-bg--mobile(style='background-image:url("assets/img/bg-index-slider-m.jpg")')
      .container
        .index-slider__item-text
          h2.index-slider__title Резинотехнические изделия любых форм
          h3.index-slider__subtitle В наличии и на заказ.
          h3.index-slider__subtitle Изготовим по вашим чертежам.
          a(href="#").index-slider__btn.btn Подробнее

  //end index-top__slider
//end index-top