//begin header-m__menu
nav.header-m__menu.menu-m
  .menu-m__wrap
    ul.menu-m__list
      li.menu-m__item
        a(href="#").menu-m__link Главная
      li.menu-m__item
        a(href="#").menu-m__link О компании
      li.menu-m__item.menu-m__item--parent
        a(href="#").menu-m__link Продукция
        span.menu-m__link-btn

        //begin submenu-m
        .submenu-m
          //begin submenu-m__col
          .submenu-m__col
            a(href="#").submenu-m__col-title Неформовые изделия
            ul.submenu-m__list
              li.submenu-m__item
                a(href="#").submenu-m__link Лента конвейерная (транспортная)
              li.submenu-m__item
                a(href="#").submenu-m__link Технические плаcтины
              li.submenu-m__item
                a(href="#").submenu-m__link ТМКЩ
              li.submenu-m__item
                a(href="#").submenu-m__link МБС
              li.submenu-m__item
                a(href="#").submenu-m__link Техпластины нестандартных размеров
              li.submenu-m__item
                a(href="#").submenu-m__link Техпластина пищевая
              li.submenu-m__item
                a(href="#").submenu-m__link Техпластина вакуумная
              li.submenu-m__item
                a(href="#").submenu-m__link Техпластина пористая (губчатая)
              li.submenu-m__item
                a(href="#").submenu-m__link Силиконовые пластины
              li.submenu-m__item
                a(href="#").submenu-m__link Резиновые ковровые покрытия
              li.submenu-m__item
                a(href="#").submenu-m__link Резинотканевые техпластины
              li.submenu-m__item
                a(href="#").submenu-m__link Смеси резиновые сырые
          //end submenu-m__col

          //begin submenu-m__col
          .submenu-m__col
            a(href="#").submenu-m__col-title Формовые изделия
            ul.submenu-m__list
              li.submenu-m__item
                a(href="#").submenu-m__link Резиновые профили
              li.submenu-m__item
                a(href="#").submenu-m__link Уплотнители
              li.submenu-m__item
                a(href="#").submenu-m__link Шнупы
              li.submenu-m__item
                a(href="#").submenu-m__link Трубки
              li.submenu-m__item
                a(href="#").submenu-m__link Формовые техпластины
              li.submenu-m__item
                a(href="#").submenu-m__link АМС
              li.submenu-m__item
                a(href="#").submenu-m__link ТМКЩ
              li.submenu-m__item
                a(href="#").submenu-m__link МБС
              li.submenu-m__item
                a(href="#").submenu-m__link Вибродемпфирующая резина
              li.submenu-m__item
                a(href="#").submenu-m__link Диэлектрическая резина
              li.submenu-m__item
                a(href="#").submenu-m__link Пористая резина
              li.submenu-m__item
                a(href="#").submenu-m__link Ремни
          //end submenu-m__col

          //begin submenu-m__col
          .submenu-m__col
            a(href="#").submenu-m__col-title Сопутствующие товары
            ul.submenu-m__list
              li.submenu-m__item
                a(href="#").submenu-m__link Стеклотекстолит
              li.submenu-m__item
                a(href="#").submenu-m__link Кожа техническая
              li.submenu-m__item
                a(href="#").submenu-m__link Клей резиновый
              li.submenu-m__item
                a(href="#").submenu-m__link Тормозные ленты (лат и др.)
              li.submenu-m__item
                a(href="#").submenu-m__link Асбестотехнические изделия
              li.submenu-m__item
                a(href="#").submenu-m__link Набивки сальниковые
              li.submenu-m__item
                a(href="#").submenu-m__link Тенты и ткани прорезиненные
              li.submenu-m__item
                a(href="#").submenu-m__link Ткань ПВХ
              li.submenu-m__item
                a(href="#").submenu-m__link Резиновые ковровые покрытия
              li.submenu-m__item
                a(href="#").submenu-m__link Смеси резиновые
          //end submenu-m__col
        //end submenu-m

      li.menu-m__item
        a(href="#").menu-m__link Контакты
      li.menu-m__item
        a(href="#").menu-m__link Полезная информация


  .header-m__contacts-menu-btn
    include ../elements/callback-btn
//end header-m__menu