//begin header-d__menu
nav.header-d__menu.menu-d
  ul.menu-d__list
    li.menu-d__item
      a(href="#").menu-d__link Главная
    li.menu-d__item
      a(href="#").menu-d__link О компании
    li.menu-d__item.menu-d__item--parent
      a(href="#").menu-d__link Продукция
        span.menu-d__link-btn

      //begin submenu-d
      .submenu-d
        //begin submenu-d__col
        .submenu-d__col
          a(href="#").submenu-d__col-title Неформовые изделия
          ul.submenu-d__list
            li.submenu-d__item
              a(href="#").submenu-d__link Лента конвейерная (транспортная)
            li.submenu-d__item
              a(href="#").submenu-d__link Технические плаcтины
            li.submenu-d__item
              a(href="#").submenu-d__link ТМКЩ
            li.submenu-d__item
              a(href="#").submenu-d__link МБС
            li.submenu-d__item
              a(href="#").submenu-d__link Техпластины нестандартных размеров
            li.submenu-d__item
              a(href="#").submenu-d__link Техпластина пищевая
            li.submenu-d__item
              a(href="#").submenu-d__link Техпластина вакуумная
            li.submenu-d__item
              a(href="#").submenu-d__link Техпластина пористая (губчатая)
            li.submenu-d__item
              a(href="#").submenu-d__link Силиконовые пластины
            li.submenu-d__item
              a(href="#").submenu-d__link Резиновые ковровые покрытия
            li.submenu-d__item
              a(href="#").submenu-d__link Резинотканевые техпластины
            li.submenu-d__item
              a(href="#").submenu-d__link Смеси резиновые сырые
        //end submenu-d__col

        //begin submenu-d__col
        .submenu-d__col
          a(href="#").submenu-d__col-title Формовые изделия
          ul.submenu-d__list
            li.submenu-d__item
              a(href="#").submenu-d__link Резиновые профили
            li.submenu-d__item
              a(href="#").submenu-d__link Уплотнители
            li.submenu-d__item
              a(href="#").submenu-d__link Шнупы
            li.submenu-d__item
              a(href="#").submenu-d__link Трубки
            li.submenu-d__item
              a(href="#").submenu-d__link Формовые техпластины
            li.submenu-d__item
              a(href="#").submenu-d__link АМС
            li.submenu-d__item
              a(href="#").submenu-d__link ТМКЩ
            li.submenu-d__item
              a(href="#").submenu-d__link МБС
            li.submenu-d__item
              a(href="#").submenu-d__link Вибродемпфирующая резина
            li.submenu-d__item
              a(href="#").submenu-d__link Диэлектрическая резина
            li.submenu-d__item
              a(href="#").submenu-d__link Пористая резина
            li.submenu-d__item
              a(href="#").submenu-d__link Ремни
        //end submenu-d__col

        //begin submenu-d__col
        .submenu-d__col
          a(href="#").submenu-d__col-title Сопутствующие товары
          ul.submenu-d__list
            li.submenu-d__item
              a(href="#").submenu-d__link Стеклотекстолит
            li.submenu-d__item
              a(href="#").submenu-d__link Кожа техническая
            li.submenu-d__item
              a(href="#").submenu-d__link Клей резиновый
            li.submenu-d__item
              a(href="#").submenu-d__link Тормозные ленты (лат и др.)
            li.submenu-d__item
              a(href="#").submenu-d__link Асбестотехнические изделия
            li.submenu-d__item
              a(href="#").submenu-d__link Набивки сальниковые
            li.submenu-d__item
              a(href="#").submenu-d__link Тенты и ткани прорезиненные
            li.submenu-d__item
              a(href="#").submenu-d__link Ткань ПВХ
            li.submenu-d__item
              a(href="#").submenu-d__link Резиновые ковровые покрытия
            li.submenu-d__item
              a(href="#").submenu-d__link Смеси резиновые
        //end submenu-d__col
      //end submenu-d

    li.menu-d__item
      a(href="#").menu-d__link Контакты
    li.menu-d__item
      a(href="#").menu-d__link Полезная информация
//end header-d__menu