// ***** main colors *******
$brand: #31363e;

$highlight: #ffb100;
$highlight-hov: #ffc540;

// ***** text colors *******
$text: #4e525c;
$title: #31363e;

// ===== fonts =====

$font: 'Montserrat', sans-serif;
