extends ../_template

mixin articles__item()
  .articles__item
    a(href="#" style='background-image:url("assets/img/index-article.jpg")').articles__item-img
    .articles__item-info
      a(href="#").articles__item-title Новое оборудование
      span.articles__item-text Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и
      span.articles__item-date 28.06.2019

block variables
  - var title       = 'Rezina 812'
  - var description = 'Rezina 812'
  - var pageHeaderTitle = 'Новости'
  - var ogtitle     = 'Rezina 812'

block content
  .main-wrap
    include ../sections/header-d
    include ../sections/header-m

    //begin content
    main.main
      include ../sections/page-header

      //begin article
      .article
        .container
          //begin article__img
          .article__img
            img(src="assets/img/article.jpg" alt="picture")
            .article__date
              span 29.08.2019
          //end article__img

          //begin article__body
          .article__body
            h2.article__title Закупка нового оборудования
            .article__text
              p Строгое соблюдение всех необходимых стандартов, норм и требований, а также работа на современном оборудовании – то, чем занимаются наши мастера, и это залог производства качественных изделий из резины. Вся производимая нами продукция проходит необходимые испытания, и является сертифицированной.
              p Мы осуществляем индивидуальный подход к каждому клиенту, и предлагаем как уже готовые изделия, которые имеются в наличии на складе, так и полный комплекс услуг связанных с производством РТИ. Возможно изготовление малых, средних и больших партий продукций. Просто сообщите нам нужный вам объем, и уже в кротчайшие сроки вы получите необходимый товар.
              p Наша компания уже давно зарекомендовала себя на рынке в качестве надежных поставщиков, предлагающих выгодную стоимость на всю продукцию и производящих товар высокого качества.
              p Индивидуальный подход, современное оборудование, высококвалифицированный персонал, приятное обслуживание, отличное знание  ассортимента продукции и всего, что ним связано – это лишь часть наших преимуществ. Обо всем остальном вы узнаете, когда начнете с нами сотрудничать.
              p Если вы ищете надежную компанию занимающуюся производством резинотехнических изделий, сотрудничество с которой одно сплошное удовольствие и выгода, то вы нашли то, что искали.
              p Купить шнуры резиновые круглого, квадратного и прямоугольного сечения, шнуры шприцованные из особо мягкой резины С-509, люковые прокладки, профили уплотнительные и другие изделия из резины, а также оформить доставку по Санкт-Петербургу, Ленинградской области, и в любые другие города России очень легко, достаточно просто позвонить нам по телефонам указанным на сайте. Или заполните заявку онлайн, и наши менеджеры сами перезвонят вам.
            a(href="#").article__return
              +svg('return')
              span К списку новостей
          //end article__body
      //end article

      //begin article__popular
      .article__popular
        .container
          h3.article__popular-title Популярные записи
          .articles__list
            +articles__item
            +articles__item
      //end article__popular


    //end content
    include ../sections/footer-d
    include ../sections/footer-m
