extends ../_template

block variables
  - var title       = 'Rezina 812'
  - var description = 'Rezina 812'
  - var ogtitle     = 'Rezina 812'

block content
  .main-wrap
    include ../sections/header-d
    include ../sections/header-m

    //begin content
    main.main
      include ../sections/index-top
      include ../sections/index-catalog
      include ../sections/banner
      include ../sections/index-about
      include ../sections/index-advantages
      include ../sections/index-application
    //end content

    include ../sections/footer-d
    include ../sections/footer-m
