extends ../_template

block variables
  - var title       = 'Rezina 812'
  - var description = 'Rezina 812'
  - var ogtitle     = 'Rezina 812'

block content
  .main-wrap.no-js.index
    include ../sections/header-d
    include ../sections/header-m

    //begin content
    main.main
    //end content

    include ../sections/footer-m
