extends ../_template

block variables
  - var title       = 'Rezina 812'
  - var description = 'Rezina 812'
  - var pageHeaderTitle = 'Технические плаcтины (техпластины)'
  - var ogtitle     = 'Rezina 812'

block content
  .main-wrap.no-js
    include ../sections/header-d
    include ../sections/header-m

    //begin content
    main.main
      include ../sections/page-header

      .container-sm
        h2 Производство резиновых техпластин
        .text-row
          p Компания ООО "Резина812 ПКФ" предлагает техпластины резиновые ТМКЩ, МБС и АМС высокого качества и по демократичным ценам.
          p Данные изделия различаются по маркам (ТМКЩ, АМС, МБС); классам (1,2): 1 - для работы под давлением свыше 0,1 МПА (1,0 кг/см2), и 2 - под давлением до 0,1 МПА (1,0 кг/см²); видам  (формовые и неформовые); типам (I, II); степени твердости (мягкая, средняя, повышенная).
        h3 Если говорить о размерах техпластин, то они могут быть:
        ul
          li формовые (прессованная техническая резина) стандартных размеров: толщиной от 2,0 до 70,0 мм., размер 500х500 мм, 700х700 мм, 1000х1000 мм.; и нестандартных размеров: ТМКЩ, МБС – 1800 х 1205 мм, 1800 х 1020 мм, 1700 х 600 мм; АМС - 2Ф-1-АМС-М-20, 250 х 1000 х 20 мм.
          li неформовые ( листовые и рулонные) толщиной от 1,0 до 20,0 мм., размер ширина 800 - 1200 мм. , длина от 1200 мм.

        p Неформовые техпластины как правило выпускаются стандартных размеров: листовые шириной  500 -1400 мм., рулонные 1600 - 20000 мм в зависимости от толщины изделия.
        p Резиновые техпластины применяется во многих областях и сферах деятельности, в качестве прокладок и уплотнителей неподвижных соединений.
        p В пищевой промышленности применяются  техпластины, выдерживающие давление до 0,6 МПа и сохраняющие свои свойства при низких (до - 30 ) и высоких (до +100) температурных показателях. Существует несколько видов данных изделий, применение которых зависит от вида соприкасающихся с ними продуктов
        p Многих клиентов интересует такая характеристика как вес технической резины ТМКЩ, МБС и АМС. Зависит он от ингредиентов, которые входят в  состав. Различные добавки изменяют состав резины, благодаря чему ее можно применять как в агрессивных, так и в обычных условиях.
        p Стоимость резиновых техпластин может изменяться в зависит от некоторых факторов, таких как плотность (вес) изделия и размер. Если вас интересует точная цена, то просто свяжитесь с нашими менеджерами, и они подробно вас проконсультируют по всему ассортименту.
        p У нас вы можете купить техпластину резиновую ТМКЩ, МБС и АМС или заказать ее изготовление по вашему рецепту. И мы в кротчайшие сроки запустим производство и выполним ваш заказ.
        p Все дополнительные вопросы вы можете задать по телефону нашим специалистам, которые с удовольствием  расскажут вам обо всех особенностях и характеристиках данных РТИ изделий.


      include ../sections/banner
    //end content
    include ../sections/footer-d
    include ../sections/footer-m
