extends ../_template

block variables
  - var title       = 'Rezina 812'
  - var description = 'Rezina 812'
  - var ogtitle     = 'Rezina 812'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main
      .container
    //end content

    include ../sections/footer
