extends ../_template

mixin service-slider__item()
  .service-slider__item
    .service-slider__img(style='background-image:url("assets/img/service-slider.jpg")')
    h3.service-slider__title Клей
    span.service-slider__text Купить шнуры резиновые круглого, квадратного и прямоугольного сечения.

block variables
  - var title       = 'Rezina 812'
  - var description = 'Rezina 812'
  - var pageHeaderTitle = 'Технические плаcтины'
  - var ogtitle     = 'Rezina 812'

block content
  .main-wrap
    include ../sections/header-d
    include ../sections/header-m

    //begin content
    main.main
      include ../sections/page-header
      .service-top
        .container
          .service-top__img
            img(src="assets/img/service.jpg" alt="picture")
          .service-top__info
            h2.service-top__title Производство резиновых профилей
            p Компания ООО «Резина812 ПКФ» осуществляет производство и продажу различных изделий из резины (резиновых профилей, уплотнителей, шнуров, трубок и т.д.). Мы предлагаем товар исключительно высокого качества и по доступной стоимости.
            p С каждым годом количество постоянных клиентов нашей компании только увеличивается. Это заслуга, в первую очередь, наших высококвалифицированных специалистов работающих на производстве.
            a(href="#").service-top__btn
              span Узнать стоимость
      .service
        .container
          h2.service__title Производство резиновых профилей
          .text-row
            p Строгое соблюдение всех необходимых стандартов, норм и требований, а также работа на современном оборудовании – то, чем занимаются наши мастера, и это залог производства качественных изделий из резины. Вся производимая нами продукция проходит необходимые испытания, и является сертифицированной.
            p Мы осуществляем индивидуальный подход к каждому клиенту, и предлагаем как уже готовые изделия, которые имеются в наличии на складе, так и полный комплекс услуг связанных с производством РТИ. Возможно изготовление малых, средних и больших партий продукций. Просто сообщите нам нужный вам объем, и уже в кротчайшие сроки вы получите необходимый товар.
            p Наша компания уже давно зарекомендовала себя на рынке в качестве надежных поставщиков, предлагающих выгодную стоимость на всю продукцию и производящих товар высокого качества.
            p Индивидуальный подход, современное оборудование, высококвалифицированный персонал, приятное обслуживание, отличное знание  ассортимента продукции и всего, что ним связано – это лишь часть наших преимуществ. Обо всем остальном вы узнаете, когда начнете с нами сотрудничать.
            p Если вы ищете надежную компанию занимающуюся производством резинотехнических изделий, сотрудничество с которой одно сплошное удовольствие и выгода, то вы нашли то, что искали.
            p Купить шнуры резиновые круглого, квадратного и прямоугольного сечения, шнуры шприцованные из особо мягкой резины С-509, люковые прокладки, профили уплотнительные и другие изделия из резины, а также оформить доставку по Санкт-Петербургу, Ленинградской области, и в любые другие города России очень легко, достаточно просто позвонить нам по телефонам указанным на сайте. Или заполните заявку онлайн, и наши менеджеры сами перезвонят вам в любое удобное для вас время.
          h2.service__title Сопутствующие товары

          //begin service-slider
          .service-slider
            +service-slider__item
            +service-slider__item
            +service-slider__item
            +service-slider__item
          //end service-slider
    //end content
    include ../sections/banner
    include ../sections/footer-d
    include ../sections/footer-m
